<tr>
  <td><%= invoice_detail.id %></td>
  <td><%= invoice_detail.product_name %></td>
  <td><%= invoice_detail.price %></td>
  <td><%= invoice_detail.product_unit %></td>
  <td><%= invoice_detail.quantity %></td>
</tr>
